body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

h1{
    font-size: 30px;
}
.orange-color{
    color:rgb(173, 54, 78)
}
.yellow-color{
    color:darkorange
}
.flexible-container{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.special-design{
    border-left: rgb(236, 60, 29) solid;
    padding-left: 10px;
}

.mission-vission{
    margin-top: 20px;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
   
}
.half-width img{
    width: 60%;
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(183, 117, 216), rgb(81, 45, 99));
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}
.Develop-big{
   background-image: url(shapes/shape-1.png);
   background-position: left;
   background-repeat: no-repeat;
   background-size: 15%;
}

.global-community{
    background-image: url(shapes/shape-1.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 15%;
}

.mission-vission{
    display: flex;
    padding: 10px 100px;
}
.my-mission1{
    background-color: rgb(201, 232, 233);
    width: 50%;
    margin-left: 5%;
    border-radius: 15px;
    padding left: 10px;
    padding right: 10px;
}
.my-mission1 img{
    width: 100px;
}

.my-mission2{
    background-color: rgb(223, 199, 221);
    width: 50%;
    margin-left: 5%;
    border-radius: 15px;
    padding left: 10px;
    padding right: 10px;
}
.my-mission2 img{
    width: 100px;
}

.my-mission3{
    background-color: rgb(245, 247, 158);
    width: 50%;
    margin-left: 5%;
    border-radius: 15px;
    padding left: 10px;
    padding right: 10px;
}
.my-mission3 img{
    width: 100px;
}

